target/
bin/
.project
.classpath
.metadata
.factorypath
local.properties
.settings/
.vscode/
*.versionsBackup
*.idea
*.iml
*.db
logs
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
