<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Show All Borrowed Books</title>
</head>

<body>

    <h1>Search For Borrowed Books By</h1>

    <form th:object="${returnAllBookFormData}" method="POST">
        Email Address:<input id="email" type="text" th:field="*{emailAddress}"/>
        <span id="email.error" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span>
        <br/>
        <input type="submit" id="showBorrowedBooks" value="Return All Books"/>

    </form>

    <h1>All My Borrowed  Books</h1>

    <table class="borrowedBookList">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="borrowing : ${borrowings}">
                <td th:text="${borrowing.borrowedBook.title}" />
                <td th:text="${borrowing.borrowedBook.author}" />
                <td th:text="${borrowing.borrowedBook.isbn}" />
                </td>
            </tr>
        </tbody>
    </table>

    <div th:replace="fragments/footer :: subpage-footer">Footer</div>

</body>

</html>
