<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Worblehat Bookmanager</title>
</head>
<body>
<h1 id="welcome_heading"><span th:text="${@environment.getProperty('spring.application.name')}"></span></h1>

<ul>
    <li><a th:href="@{/bookList}">Show all Books</a></li>
    <li><a th:href="@{/insertBooks}">Add a new book</a></li>
    <li><a th:href="@{/borrow}">Borrow Book</a></li>
    <li><a th:href="@{/returnAllBooks}">Return all Books</a></li>
</ul>

<footer>
    <div th:replace="fragments/footer :: version">Footer</div>
</footer>

</body>
</html>
