# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: ["master", "production"]
  pull_request:
    branches: ["master"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Maven Install & Unit Tests
      run: ./mvnw install

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1.3
      if: always()
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        check_name: Unit Test Results
        files: worblehat-*/target/surefire-reports/TEST*.xml
        report_individual_runs: true
        deduplicate_classes_by_file_name: false

    - name: Run Acceptance Tests
      run: ./mvnw -P runITs verify

    - name: Publish Acceptance Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1.3
      if: always()
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        check_name: Acceptance Test Results
        files: worblehat-acceptancetests/target/cucumber.xml
        report_individual_runs: true
        deduplicate_classes_by_file_name: false

    - uses: actions/upload-artifact@v2
      with:
        name: Video
        path: worblehat-acceptancetests/target/*.flv
    - uses: actions/upload-artifact@v2
      with:
        name: Acceptance Test Report
        path: worblehat-acceptancetests/target/cucumber.html
